services:
  postgres:
    image: postgres:15
    container_name: bookingapp_postgres
    restart: unless-stopped
    env_file:
      - .env.development
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: deps
    command: sh -c "npx prisma migrate deploy && npm run db:seed && npm run dev"
    depends_on:
      - postgres
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    env_file:
      - .env.development

volumes:
  postgres_data: