version: "3.9"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: deps
    command: sh -c "npm install && npm run dev"
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
  postgres:
    image: postgres:15
    container_name: bookingapp_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      
  pg-client:
    image: postgres:15
    container_name: bookingapp_pg_client
    depends_on:
      - postgres
    stdin_open: true
    tty: true
    entrypoint: ["psql", "-h", "postgres", "-U", "booking_user", "-d", "booking_db"]

volumes:
  postgres_data: